@import 'styles/GlobalStyle.scss';

.body {
  height: 100vh;
  width: 100vw;
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
      width: 100%;
      background-color: #e3f2fd;
      color: #007bff;
      display: flex;
      justify-content: center;
      .desc {
        width: 60vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          display: flex;
          gap: 24px;
          & > span {
            &:hover {
              color: #0040ff;
              cursor: pointer;
            }
          }
        }
        .main {
          cursor: pointer;
        }
      }
    }
    .contents {
      height: 100%;
    }
    .footer {
      width: 100%;
      padding: 16px 0;
      bottom: 0;
      background-color: #e3f2fd;
      & > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 24px;
        padding-left: 24px;
      }
      .copyright {
        color: #007bff;
      }
    }
  }
}