@import '@styles/module.scss';

.container {
  padding: $global-padding;

  .gender {
    .selector {
      display: flex;
      gap: 12px;
      & > div > input {
        margin-right: 6px;
      }
    }
    .age {
      // width: 100%;
      width: 600px;
      .selector {
      }
    }
    .height {

    }
  }
}